In [1]:
a = "results_wrong_only.csv"

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(a)

In [4]:
# remove predicted_answer that are NaN
df = df[df["predicted_answer"].notna()]
df[["index","ground_truth","predicted_answer"]].to_csv("results_wrong_only_slimmed.csv", index=False)

In [5]:
import pandas as pd
df2 = pd.read_csv("results_wrong_only_slimmed.csv")

In [6]:
from grader import math_equal

In [7]:
df2["is_correct"] = df2.apply(
    lambda row: math_equal(row["predicted_answer"], row["ground_truth"]),
    axis=1
)

In [8]:
df_correct = df2[df2["is_correct"] == False].copy()

df_correct.head()

,index,ground_truth,predicted_answer,is_correct
0,6,\frac{2}{3},\frac{1}{2},False
1,7,\frac{120}{37},\frac{24}{7},False
2,16,501,505,False
3,22,"8,1,-1,-8","2\sqrt{2}, -2\sqrt{2}, -4 + 2\sqrt{6}, -4 - 2\...",False
4,27,\$ 1.06,1.26,False

In [9]:
df_correct.to_csv("results_wrong_only_slimmed_checked.csv", index=False)

In [10]:
from grader import normalize_latex

In [11]:
normalize_latex("2, 3, \\text{ and } 4")

'2,3,4'